plugins=(
    ansible
    archlinux
    aws
    bun
    colorize
    command-not-found
    docker
    docker-compose
    git
    gradle
    node npm
    pip
    python
    rsync
    sudo
    ufw
)
ZSH_THEME="agnoster"
source /usr/share/oh-my-zsh/oh-my-zsh.sh